// Place all the styles related to the Cookies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #8E8E93;
}

.main-content {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.header {
  padding: 20px 0;
  h1 {
    margin: 0;
  }

  .btn {
    margin-left: 10px;
  }
}

.btn.fullwidth {
  width: 100%;
}
.normal {
  background-color: #e1e1e1;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px; 
}

.on-sale {
  background-color: #FF3B30;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px; 
  a {
    color: #ffffff;
  }
}